@charset "UTF-8";
/* CSS Document */
#top {
	width: 100%;
	background-color:#003;
	margin:0 auto;
	overflow:hidden;
	color:#CCCCCC;
	padding:0;
}
#contenedor_top {
	width: 950px;
	margin:0 auto;
	overflow:hidden;
	color:#CCCCCC;
	padding:7px 0 0;
	height:35px;
}
header {
	height: 140px;
	background:url(../images/cabeza_bg.png) no-repeat;
}
#logo {
	width:310px;
	padding:22px 0 0 35px;
	float:none;
	margin-bottom: 16px;
}
#main {
	width: 950px;
	background-color: #FFF;
	-moz-box-shadow: 0 0 10px #000033;
	-webkit-box-shadow: 0 0 10px #000033;
	box-shadow: 0 0 10px #000033;
	margin:0 auto;
}
#login {
	margin-top:12px;
	text-align:right;
	float:right;
}
div.inner {
	display:block;
}
#banner_content {width:950px; display:block;}
#contenido {
	padding:0 10px 10px;
	/*border:#333 thin solid;*/
}
#contenido_inner{
	padding:0 0 10px 5px;
	width:565px;	
	float:left;
}
#contenido_top {
	width:100%;
	margin:0 auto 10px;
	display:block;
	border-bottom:#CCCCCC dotted thin;
	height:36px;
	clear:both;
}
#buscadores_Content {
	float:right;
	margin:0;
	padding-top:8px;
}
.buscador_wrap {
	float:right;
	margin-top:6px;
	margin-right:15px;
	height:30px;
}
#buscador_content {
	float:right;
	width:180px;
	height:24px;
	display:block;
	border:1px solid #d2d2d2;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin-left:10px;
	background-color:#fff;
}
#buscador_content input.search {
	border:none;
	outline:none;
	padding:0;
	font-size:12px;
	color:#333333;
	margin-left:10px;
	margin-top:5px;
	width:140px;
	float:left;
	background:transparent;
}
#search-submit {
    outline: none;
	cursor:pointer;
    border: none;
    height: 12px;
    width: 12px;
    background: url(//cdn.shopify.com/s/files/1/0307/2009/t/2/assets/share-icons-sprite.png?806) no-repeat -556px -4px;
    margin-top: 6px;
    margin-right: 10px;
    padding: 0;
    float: right;
    display: block;
}
#buscador_content input.search_button{
	background:transparent url(../images/search_right.png) no-repeat;
	border:0;
	width:27px;
	height:22px;
	text-indent:-9999px;
	float:right;
	cursor:pointer;
}
#buscador_content input.search_button_over {
	background:transparent url(../images/search_right.png) no-repeat;
}
#JumpMenu_Marcas {
	float:right;
	padding-top:1px;
	border:none;
	height:20px;
}
#buscador_contentMarcas input.search {
	background:transparent url(../images/search_left.png) no-repeat;
	border:0;
	width:110px;
	height:22px;
	float:right;
	padding:0 4px;
}
#buscador_contentMarcas input.search_button{
	background:transparent url(../images/search_right.png) no-repeat;
	border:0;
	width:27px;
	height:22px;
	text-indent:-9999px;
	float:right;
	cursor:pointer;
}
#buscador_contentMarcas input.search_button_over {
	background:transparent url(../images/search_right.png) no-repeat;
}
#col_izquierda {
	width:175px;
	float:left;
	margin:0 0 0 3px;
	padding:5px 0;
}
#col_derecha{
	border-left:#CCC 1px dotted;
	width:770px;
	min-height:800px;
	height:auto !important;
	float:right;
	padding:0;
	margin:0 0 5px 0;	
}
/***************Bloques***************/
.prodRelacion_content {
	margin:30px auto 20px;
	padding:5px 0;
	width:720px;
	background-color:#F9F9F9;
	border:#CCCCCC thin solid;
	-moz-border-radius: 10px; border-radius: 10px; -webkit-border-radius : 10px;
}
.prodRelacion_content h3 { padding:5px 10px; }
.bloquecontenido {
	padding:0 0 5px;
	border-bottom:#999999 thin dotted;
	margin-bottom:10px;
}
.bloquecontenido p {
	font-size:0.8em;
	color:#666;
	line-height:1.2em;
	margin:2px 0;
}
.bloquecontenido h3 {
	font-size:1.1em;
	color:#335585;
	margin:0 0 5px;
	display:block;
	padding:5px 0 5px 3px;
	border-bottom:#CCC dotted thin;
	/*background-color:#D6DDE7;*/
}
.bloquecontenido ul{
	margin:0;
	padding:0;
}
.bloquecontenido li a {
	padding:3px 5px;
	display:block;
	line-height: 1.3em;
	text-decoration:none;
	color:#666;
}
.bloquecontenido li a:hover {
	text-decoration:none;
	color:#666;
	background:#F4F4F4;
}
footer {
	background-color:#6FAA3A;
	text-align: center;
}
#footer_inner {	/*background:url(../images/pie_bg.png) repeat-x;*/
	margin: 0;
	padding: 5px 10px 5px 5px;
}
.bloq-menu a { color:#274D11;}
.bloq-menu a:hover { color:#FFF; text-decoration:none; }
#footer_inner_up{ padding:5px 0 15px; margin:0 auto; font-size:1.1em; }
.bloq-menu { width:190px; text-align:left; float:left; padding:10px 10px 10px 33px; color:#274D11; line-height:15px; font-size:13px;}
.bloq-menu ul { margin-left:0; padding-left:0;}
.bloq-menu li { margin:5px 0 0 0; padding:2px; list-style-type:none;}
.boton_bloq_menu {
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius : 10px;
	margin:10px auto;
	padding:5px 10px;
	background-color:#36F;
	text-decoration:none;
	display:inline-block;
}
.boton_bloq_menu a { color:#FFF; }
.banner_container {
	float:right;
	width:170px;
}
/*Leyenda del Copyright*/
.copyright {
	font-size: 0.9em;
	margin: 0px;
	padding: 0px;
	color: #437B23;
}
.copyright a {
	color: #437B23;
}
.copyright a:hover {
	color: #FFF;
}
.bloq_producto {
	background-color: #FFFFFF; border: 1px solid #DDDDDD; margin: 10px ; display: block; float: left; text-decoration: none; text-align: center; cursor: pointer; -moz-border-radius: 8px; border-radius: 8px; -webkit-border-radius: 8px;
}
.bloq_producto a:hover,a{ text-decoration:none;}
.content_producto {
	width:155px;
	min-height:170px;
	height:auto !important;
	height:170px;
	padding:0;
	margin:5px;
	clear:both;
	position:relative;
}
.content_producto img {border:none;}
.content_producto p.prod_nombre{
	font-size:14px;
	line-height:16px;
	color:#333;
	text-align:center;
	display:block;
	margin:3px auto;
}
.content_producto p.prod_marca{
	font-size:12px;
	line-height:13px;
	color:#999;
	text-align:center;
	display:block;
	margin:4px auto;
}
.content_producto p.prod_precio_a{
	font-size:1.1em;
	line-height:1.2em;
	color:#F00;
	text-align:center;
	display:block;
	margin:4px auto;
}
.Prod_info {
	min-height:170px;
	height:auto !important;
	height:170px;
}
.detalle_producto_content {
	padding:3px;
	border:1px #CCC solid;
}
.detalle_producto_content_texto {
	float:left;
	width:345px;
}
#detalle_producto_izq {
	float:left;
	margin-right:20px;
}
.detalle_producto_content_foto {
	width:210px;
	text-align:center;
}
.detalle_producto_content_foto img {border:none;}
.detalle_producto_content_foto a{
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	display: block;
	text-decoration: none;
	cursor: pointer;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding:5px 5px 25px;
	background:url(../images/ampliar.png) bottom no-repeat;
}
.detalle_producto_content_foto a:hover {
	background-color:#F2F2F2;
}
#detalle_producto_descripcion {
	border-top:#CCC solid 1px;
	border-bottom:#CCC solid 1px;
	font-size:0.9em;
	line-height:1.3em;
	color:#666666;
	padding:5px;
	text-align:left;	
}
.detalle_producto_skus table{
	font-family:Arial, Helvetica, sans-serif;
}
.detalle_producto_skus thead{
	font-weight:bold;
	background-color:#F0F0F0;
}
.detalle_producto_skus tbody{
	border-bottom:1px #999 solid;
	font-size:0.5em;
}
h1.detalle_producto_nombre {
	line-height:28px;
	margin-bottom:10px;
}
p.detalle_producto_marca {
	font-size:15px;
	color:#999999;
	padding-left:3px;
	margin:3px 0 5px;
	display:block;
	font-weight:bold;
}
p.detalle_producto_marca a {
	color:#8599B6;
}
p.detalle_producto_categorias {
	font-size:1em;
	font-style:italic;
	color:#8599B6;
	margin:3px 0 10px;
	padding-left:3px;
	display:block;
}
p.detalle_producto_categorias span{
	font-size:1.1em;	
}
.detalle_producto_precio_despues {
	font-size:1.1em;
	font-weight:bold;
	color:#F00;
	margin:1px 0;
}
